body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
}

.main_conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1280px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main_content {
  width: 910px;
  margin: 100px 90px;
}

.main_content_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.about_me {
  margin-bottom: 40px;
}

.about_my_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}

.my_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about_me_text {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my_projects {
  margin-bottom: 50px;
}

.my_project_list {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  padding: 0 0 0 17px;
}

/* Отступ внутри списка */
.my_project_list_indent {
  padding-left: 10px;
}

.my_project_list_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my_work_experiense {
  width: 525px;
  margin-bottom: 25px;
}

.my_work_experiense_compani_3 {
  margin-bottom: 15px;
}

.my_work_experiense_compani_2 {
  margin-bottom: 20px;
}

.my_work_experiense_position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my_work_experiense_compani {
  color: #fb6d3a;
}

.my_work_experiense_time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my_work_experiense_time_delimiter {
  font-weight: bold;
  color: #000;
}

.my_work_experiense_duties {
  padding: 0 0 0 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my_education_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 10px 0;
}

.my_education_university {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.my_education_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 10px 0;
}

.my_education_time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my_education_time_delimiter {
  color: #000;
  font-weight: bold;
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
}

.sidebar_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.contact_section {
  margin: 50px 0 0 40px;
}

.contact_section_type {
  margin-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.contact_section_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
  /*opacity: 0.5;*/
}

.skills_section {
  margin: 50px 0 0 40px;
}

.skills_list {
  padding: 0 0 0 17px;
  font-weight: bold;
  color: #fb6d3a;
}

.skills_list_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.sof_skills_section {
  margin: 50px 0 0 40px;
}

.sof_skills_list {
  padding: 0 0 0 17px;
  font-weight: bold;
  color: #fb6d3a;
}

.sof_skills_list_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
